@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Common style -  start */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  min-height:100vh;
  background-color:#DCDCDC;
}
/* Common style -  start */

/* Main Header (Logo, Title, Navigation)  - start */
@media screen and (max-width: 400px) {
  .title span {
    display:none;
  }
}
@media screen and (max-width: 650px) {
  .main-header {
    flex-direction: column;
    justify-content: start !important;
  }
  .title {
    width:100%;
  }
  .menu-btn{
    display: block !important;
  }
  nav.menu {
    display:none;
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 5px;
  }
  nav.show {
    display: block !important;
  }
  nav.menu ul {
    flex-direction: column;
  }
  nav.menu ul li{
    padding: 20px 0;
  }
}
.main-header{
  min-width: 450px;
  color:#ffffff;
  background-color:#24252A;
  align-items: center;
  display:flex;
  justify-content: space-between;
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 10px 15px 0px 20px;
}

/* Title - start */
.title {
  min-width: 450px;
  max-width: 600px;
  display:flex;
}
img.logo {
  width:80px;
  background-color:#ffffff;
  border-radius: 6px;
  cursor:pointer;
}
.title span {
  padding: 0px 15px;
  white-space: nowrap;
}
/* Title - end */

/* Menu - start */
.menu-btn {
  display:none;
  position:absolute;
  right:30px;
  top:12px;
  cursor:pointer;
}

nav.menu ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: start;
  font-family:'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0px 0px;
}

nav.menu ul li {
  padding: 0px 10px;
  height:40px;
  list-style-type: none;
}
nav.menu ul li a{
  color:#ffffff;
  text-decoration: none;
}
nav.menu ul li a:hover {
  color:orange;
  transition: all 0.3s ease 0s;
}
/* Menu - end */
/* Main Header  - end */

/* Section - start */
main {
  margin: 30px 10%;
}
/* Section - end */

.top-header {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Article Header - start */
article {
  margin-top: 10px;
}

article header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

article aside {
  width: 30%;
  padding: 25px;
  float: right;
  text-align: center;
}
aside img {
  width: 100%;
  height: 100%;
}

article p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.0rem;
}
/* Article Header - end  */


/* Footer - start  */
footer {
  background-color:silver;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.0rem;
  text-align: center;
  padding: 5px 0px;
}

/* Footer - end  */


/* 404 error page - start */
body.error404 {
  background: no-repeat url("../assets/images/51285701074_1fcd43dd11_k-1024x643.jpg");
  background-size:cover;
  color: #DCDCDC;
}

body.error404 main {
  margin:12vw 30vw;
}
body.error404 main h1 {
  font-family: 'Gothic', Arial, sans-serif;
}
body.error404 main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.error404 main a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color:black;
  text-decoration:none;
  color:orange;
  padding:5px 15px;
  border: #DCDCDC 1px solid;
  border-radius: 10px;
}
/* 404 error page - end */

/* Contact page - start */
form {
    margin: 0 auto;
    padding: 30px 20px;
    max-width: 400px;
    border: 2px solid black;
    border-radius: 20px;
}
fieldset {
  border: 0;
  line-height:2.5em;
}
legend {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align:center;
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  margin-bottom:15px;
}
label {
  font-family: sans-serif;
}
input {
  font-family: sans-serif;
  height: 1.5em;
}
textarea{
  width: 100%;
}
div.button {
  width: 100%;
  text-align: center;
}
button.button {
  border: none;
  color: white;
  background-color: #008CBA;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: -5px;
}
/* Contact page - end */

/* Services page - start */
@supports (display: grid) {
  section.service-list { 
    max-width: 10000px !important;
    margin: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  article.service-item {
    margin: 0;
  }
}
main.services {
  text-align: center;
}
section.service-list {
  max-width: 500px;
  margin: 0 auto;
  padding:0px 20px 20px 20px;
}

article.service-item {
  display: flex;
  flex-flow: column;
  border:  1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

article.service-item img {
  width: 100%;
}