@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Common style -  start */
html {
  font-size:100%;
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  min-height:100vh;
  background-color:#DCDCDC;
}
/* Common style -  start */

/* Main Header (Logo, Title, Navigation)  - start */
header.main-header {
  color:white;
  background-color:#24252A;
  align-items: center;
  padding: 10px 10px;
}
.main-header{
  display:flex;
  justify-content: space-between;
}

/* Title - start */
.title {
    display:flex;
}
img.logo {
  width:100px;
  background-color:#ffffff;
  border-radius: 6px;
  cursor:pointer;
}
.title span {
  padding: 0px 10px;
  font-family:'Montserrat', sans-serif;
  font-size: 3rem;
}
/* Title - end */

/* Menu - start */
nav.menu ul li {
  display:inline-block;
  padding: 0px 20px;
}
nav.menu ul li a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color:#ffffff;
  text-decoration: none;
}
nav.menu ul li a:hover {
  color:orange;
  transition: all 0.3s ease 0s;
}
/* Menu - end */
/* Main Header  - end */

/* Section - start */
main {
  margin: 30px 10%;
}
/* Section - end */

.top-header {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Article Header - start */
article {
  margin-top: 10px;
}

article header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

article aside {
  width: 30%;
  padding: 25px;
  float: right;
  text-align: center;
}
aside img {
  width: 100%;
  height: 100%;
}

article p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.0rem;
}
/* Article Header - end  */


/* Footer - start  */
footer {
  background-color:silver;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.0rem;
  text-align: center;
  padding: 5px 0px;
}

/* Footer - end  */


/* 404 error page - start */
body.error404 {
  background-image: url("../assets/images/51285701074_1fcd43dd11_k-1024x643.jpg");
  color: #DCDCDC;
}

body.error404 main {
  margin:10vw;
}
body.error404 main h1 {
  font-family: 'Gothic', Arial, sans-serif;
}
body.error404 main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.error404 main a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color:black;
  text-decoration:none;
  color:orange;
  padding:5px 15px;
  border: #DCDCDC 1px solid;
  border-radius: 10px;
}
/* 404 error page - end */

/* Contact page - start */
form {
    margin: 0 auto;
    padding: 30px 20px;
    max-width: 400px;
    border: 2px solid black;
    border-radius: 20px;
}
fieldset {
  border: 0;
  line-height:2.5em;
}
legend {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align:center;
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  margin-bottom:15px;
}
label {
  font-family: sans-serif;
}
input {
  font-family: sans-serif;
  height: 1.5em;
}
textarea{
  width: 100%;
}
div.button {
  width: 100%;
  text-align: center;
}
button.button {
  border: none;
  color: white;
  background-color: #008CBA;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: -5px;
}
/* Contact page - end */